<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Properties>
    <Property name="LOG_DIR">/usr/local/tomcat/logs</Property>
  </Properties>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
        <PatternLayout
                pattern="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </Console>
    <RollingFile name="rollingFile" fileName="${LOG_DIR}/debugging.out" filePattern="${LOG_DIR}/debugging.%d{dd-MMM}.out.gz" ignoreExceptions="false">
      <PatternLayout>
          <Pattern>%m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10MB" />
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile> -->
  </Appenders>
  <Loggers>
  <Logger name="debug" level="debug">
      <AppenderRef ref="rollingFile"/>
    </Logger>
    <Root level="info" additivity="false">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
