<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Properties>
    <Property name="LOG_DIR">/usr/local/tomcat/logs</Property>
  </Properties>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
        <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %m%n" />
    </Console>
    <RollingFile name="rollingFile" fileName="${LOG_DIR}/debugging.out" filePattern="${LOG_DIR}/debugging.%d{dd-MMM}.out.gz" ignoreExceptions="false">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10MB" />
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="pl.psnc.dl.ege" level="debug" additivity="false">     
      <AppenderRef ref="rollingFile"/>
    </Logger>
    <Root level="warn" additivity="false">
      <AppenderRef ref="rollingFile"/>
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
